@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.ticket-visual:before {
  content: "";
  display: block;
  position: absolute;
  top: 130px;
  left: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #0f172a;
  z-index: 2;
}

.ticket-visual:after {
  content: "";
  display: block;
  position: absolute;
  top: 130px;
  right: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #0f172a;
  z-index: 2;
}

.ticket-visual-mobile:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -45px;
  right: 120px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #0f172a;
  z-index: 2;
}

.ticket-visual-mobile:before {
  content: "";
  display: block;
  position: absolute;
  top: -45px;
  right: 120px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #0f172a;
  z-index: 2;
}
